* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "VT323", monospace;
}

body {
  background: #f7f7f7;
}

h1 {
  margin-top: 50px;
}

i {
  font-size: 45px;
  margin-top: 40px;
}

.header-content,
main {
  background-color: white;
  padding: 20px;

  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  height: 150px;
  width: 150px;
  margin-top: 50px;
}

.header-content {
  text-align: center;
  padding: 20px;
}

.card-image {
  margin-top: 100px;
  height: 250px;
  width: 350px;
}

.header-content_links {
  margin-bottom: 30px;
  margin-top: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-link {
  color: #394dcd;
}

.page-link:hover {
  color: #006800;
}

.progress-bar_container {
  margin-top: 50px;
}

.progress-bar {
  background-color: #f47e50;
  margin-top: 3px;
  padding: 7px;
}

.icons-contact {
  color: #394dcd;
}

.icons-skills {
  color: #006800;
}

.title {
  font-size: 22px;
}

.info {
  font-size: 13px;
  max-width: 360px;
  margin: 0 auto;
}

.card-link {
  border-bottom: 4px inset rgba(0, 0, 0, 0.5);
  border-left: 4px inset rgba(0, 0, 0, 0.5);
  border-right: 4px inset rgba(255, 255, 255, 0.5);
  border-top: 4px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.link1 {
  background: #e35f5f;
}

.link1:hover {
  background: #a81000;
  color: white;
}

.link2 {
  background: #208c71;
}

.link2:hover {
  background: #006800;
  color: white;
}
